{% extends 'base.html' %}

{% block title %}Home AgroRent {% endblock title %}
{% block body %}
{% load crispy_forms_tags %}


<!-- Style startted from here -->
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #background-img {
        position: absolute;
        z-index: -1;
        opacity: 0.6;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }

    .gradient-custom-3 {
        /* fallback for old browsers */
        background: #84fab0;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right,
                rgba(132, 250, 176, 0.5),
                rgba(143, 211, 244, 0.5));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right,
                rgba(132, 250, 176, 0.5),
                rgba(143, 211, 244, 0.5));
    }

    .gradient-custom-4 {
        /* fallback for old browsers */
        background: #84fab0;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right,
                rgba(132, 250, 176, 1),
                rgba(143, 211, 244, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right,
                rgba(132, 250, 176, 1),
                rgba(143, 211, 244, 1));


    }
    .round{
        border:1.5px solid green;
        border-radius: 35px;
        padding: 1.1rem 1.1rem 1.1rem 1.1rem ;
    }
    #chosed_image{
        border-radius: 15px;
        width: 90%;
        height: 70%;
    }
    .chosed_image_class{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #tool_desc{
        height: 100px;
    }
    #rent_price{
       color: green; 
       font-weight:bold;
    }


</style>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<!-- javascript tag started from here -->
<script>
    //< ---------Scripts For Setting image / Privew  Chosed Image------->
    var loadFile = function(event) {
    var output = document.getElementById('chosed_image');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
    URL.revokeObjectURL(output.src) // free memory
        }   
};

</script>
<script type="text/javascript">
      {% if status == "1" %}
      swal('Success!!','<b>Tool Added Succesfully..</b>','success');
      speek_data('Tool Added Succesfully...');
      my_timeout = setTimeout(()=>{ clearTimeout(my_timeout);    window.location =  "/add_tools";},1200);     
      {% endif %}  
      {% if status == "0" %}
      sweetAlert("Error!!", "<b><b style='color:red';>Failed To Add Tool.. <br>Something went Wrong</b>..!</b>", "error");
      {% endif %}

    //  <!-- ----------------Scripts for Uploading Adhar card if not There Form------------------- -->

    $(document).on('click', '#adhar_btn', function (e) {
        document.getElementById("adhar_btn").disabled = true;
        var spinner = '<div class="spinner-border" role="status"><span class="visually-hidden">Loading... </span></div> Saving info..'
        $('#adhar_btn').html(spinner);
          e.preventDefault();
          $.ajax({
              type: 'POST',
              url: '/upload_adhar',
              data: {
                  adhar:$('#adhar').val(),
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function (data) {
                if(data=="1"){
                    $('#adhar_btn').text("Upload adhar");
                    document.getElementById("adhar_btn").disabled = false;
                    swal('Success!!','<b>Adhar  Uploaded Succesfully</b>','success');
                    speek_data('Adhar Number Info Saved Succesfully...');
                    my_timeout = setTimeout(()=>{ clearTimeout(my_timeout);    window.location =  "/add_tools";},1000);
                }
                else if(data=="0"){
                    sweetAlert("same Email!!", "<b><b style='color:red';>Same Adhar Number Exists</b>..!</b>", "error");
                    $('#adhar_btn').text("Upload Adhar");
                    document.getElementById("adhar_btn").disabled = false;
                }
                else{// indicate 0 something went Wrong
                  sweetAlert("Error!!", "<b><b style='color:red';>Something Went Wrong</b>..!</b>", "error");
                  $('#adhar_btn').text("Upload Adhar");
                  document.getElementById("adhar_btn").disabled = false;
                }
              },
              error: function (response) {
                  alert('Something Went Wrong...');
              }
      
          });
      });
      
    
    </script>



<!-- html code startimng from here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 my-0">
    <div class="container-fluid">
      <a class="navbar-brand" >AgroRent Resources Manager </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="font-weight: bolder; color: #47d1b7;" class="nav-link" aria-current="page" href="/add_tools">Add Tool-Machinery</a>
          </li>
          <li class="nav-item">
            <a style="font-weight: bolder; color: #49ce6e;" class="nav-link" href="/my_tools">My Tools</a>
          </li>
          <li class="nav-item">
            <a style="font-weight: bolder; color: #6c88cf" class="nav-link" href="#">DashBoard</a>
          </li>
          <li class="nav-item">
            <a style="font-weight: bolder; color: #73ce49;" class="nav-link" href="/requests?status=2">Request</a>
          </li>
          <li class="nav-item">
            <a style="font-weight: bolder; color: #73ce49;" class="nav-link" href="/my_booking">My Booking</a>
          </li>
          <li class="nav-item">
            {% if request.user.is_anonymous %}
            <a style="font-weight: bolder; color: #ffffff;" class="nav-link" href="/sign_in">Sign-In</a>
            {% else %}
            <a style="font-weight: bolder; color: #ce4949;" class="nav-link" href="/sign_out">Sign-Out</a>
            {% endif %}
          </li>
          <li>
            <a style="font-weight: bolder; color: white;" class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">

    <div class="mask d-flex w-100 align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">
                                Add Agro Tool / Machinery
                                <a id="head" href="/"><img id="home_logo" src="/static/home/home.jpg" alt="" width="45"
                                        height="40" class="d-inline-block align-text-top" /></a>
                            </h2>
                            <form id="post-form" action='/add_tools'  enctype="multipart/form-data" method='POST'>
                               {% csrf_token %}
                                
                                <div class="form-outline mb-2 chosed_image_class">
                                    <img id="chosed_image" src="" alt="Chose Imgae">
                                </div>
                                <div class="form-outline mb-2">
                                    {{form.tool_photo}}
                                    <label style="color: red;" class="form-label" for="image">Chose Tool Photo</label>
                                </div>
                                <div class="form-outline mb-2">
                                    <input disabled type="text" value="{{request.user.first_name}} {{request.user.last_name}}" id="form3Example1cg" class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example1cg">Your Name</label>
                                </div>

                                <div class="form-outline mb-2">
                                    <input disabled value="{{request.user.email}}" type="email" id="email" class="form-control form-control-lg" />
                                    <label class="form-label" for="email">Your Email</label>
                                </div>

                                <div class="form-outline mb-2">
                                    <input disabled value="{{request.user.adduser.phone}}" type="text" id="phone" class="form-control form-control-lg" />
                                    <label class="form-label" for="phone">Your Phone</label>
                                </div>
                            
                                <div class="form-outline mb-2">
                                    {% if request.user.adduser.adhar is null %}
                                    <form id="adhar-form">
                                        {% csrf_token %}
                                        <input required  type="number" pattern="[^' ']+" placeholder="Enter Valid Adhar No" id="adhar" class="form-control form-control-lg" />
                                        <label class="form-label " for="adhar">Adhar No</label>
                                        <button type="submit" id="adhar_btn" class="btn btn-warning my-3 mx-4">Upload Adhar</button>
                                    </form>
                                    {% else %}
                                    <input  style="color: rgb(57, 190, 30);"   disabled value="{{request.user.adduser.adhar}}" type="number" id="adhar" class="form-control form-control-lg" />
                                    <label class="form-label" for="adhar">Adhar No</label>
                                    {% endif %}
                                  
                                    
                                </div>
                                

                                <div class="form-outline mb-4 round">
                                    
                                    <h3 style="color: green;">Add Tool Specification</h3>

                                    {{form.tool_type}}
                                    <!-- <input id="tool_type"  class="form-control form-control-sm mb-3" type="text"disabled placeholder="Selected Tool" aria-label=".form-control-sm example"> -->
                                    {{form.location}}
                                    {{form.tool_spec_1}}
                                    {{form.tool_spec_2}}
                                    <div class="form-floating mb-3">
                                    {{form.tool_info}}
                                        <label for="tool_desc">Write Short Info of tool i.e handling , Uses etc.</label>
                                    </div>
                                    {{form.rent_price}}
                                </div>
                               
                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2"   id="check_box" onclick="setCheckValue()" type="checkbox" value="">
                                    <label class="form-check-label" for="check_box">
                                        I agree all statements in
                                        <a href="#!" class="text-body"><u>Terms of service</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" id="submit" name="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
        
    function setCheckValue(){

    var submit = document.getElementById("submit");
    var check_box_value=$("#check_box").is(":checked");

    if (!check_box_value){
        document.getElementById("submit").disabled = true;
    }
    if(check_box_value){
        document.getElementById("submit").disabled = false;
    }
}
setCheckValue();
</script>

{% endblock body %}