{% extends 'base2.html' %}
{% block title %}My Booking{% endblock title %}
{% block body %}

<style>
    body{
    margin-top:0px;
    background:#d2d6d8;
  }
  #head_div {
    margin-bottom: 0.6rem;
}

#display {
    height: 71vh;
    overflow: auto;
    opacity: 0.95;
}


</style>
<script type="text/javascript">
      {% if status == "1" %}
      swal('Success!!','<b>Request Accepted Succesfully..</b>','success');
      speek_data('Request Accepted..');
      redirect_timeout = setTimeout(()=>{ clearTimeout(redirect_timeout);  window.location =  "/requests?status=2";},2000);    
      {% endif %}  
      {% if status == "0" %}
      sweetAlert("Rejected!!", "<b><b style='color:red';>Request <br></b>Rejected Succesfully.!</b>", "error");
      speek_data('Request Rejected..')
      redirect_timeout = setTimeout(()=>{ clearTimeout(redirect_timeout);  window.location =  "/requests?status=2";},2000);   
      {% endif %}
</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-1 my-0">
  <div class="container-fluid">
    <a class="navbar-brand" >AgroRent Resources Manager </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-weight: bolder; color: #47d1b7;" class="nav-link" aria-current="page" href="/add_tools">Add Tool-Machinery</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bolder; color: #49ce6e;" class="nav-link" href="/my_tools">My Tools</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bolder; color: #6c88cf" class="nav-link" href="#">DashBoard</a>
        </li>
        <li class="nav-item">
          <a style="font-weight: bolder; color: #73ce49;" class="nav-link" href="/requests?status=2">Requests</a>
        </li>
        <li class="nav-item">
            <a style="font-weight: bolder; color: #73ce49;" class="nav-link" href="/my_booking">My Booking</a>
          </li>
        <li class="nav-item">
          {% if request.user.is_anonymous %}
          <a style="font-weight: bolder; color: #ffffff;" class="nav-link" href="/sign_in">Sign-In</a>
          {% else %}
          <a style="font-weight: bolder; color: #ce4949;" class="nav-link" href="/sign_out">Sign-Out</a>
          {% endif %}
        </li>
        <li>
          <a style="font-weight: bolder; color: white;" class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>  
  </div>
</nav>
<!--   ------------------------ Html Core Part For Display Requests Start from Here----------  -->



{% if booking_data_byme %}
  <div id="send_from">
        <h3 align ="center"  style="border:2px solid rgb(0, 0, 0);background-color:#47d1b7;border-radius:25px;">Tool Booking done By You</h3>
    {% for i  in booking_data_byme %}
            <div class="alert alert-success"  style="border-radius: 30px;box-shadow:10px 10px 10px #49ce6e;" role="alert">
            <!--   <h4 class="alert-heading">tool Name</h4> -->
            <a style="font-weight:bolder;color: black;text-decoration: none;">
              <p>
                Booking Id  -->    {{i.booking_id}} <br>
                Requested From -->    {{i.required_from}}<br>
                Requested Till -->    {{i.required_till}}<br>
                Booking Time  -->    {{i.booking_time}} <br>
                Booking Amount Paid -->    {{i.booking_amt_paid}}<br>
                Tool Id -->    {{i.tool_id}}<br>
              </p>
              <hr>
            </a>
              <p class="mb-0">
                <h5 style="font-weight:bolder;">Requested From --> {{request.user.first_name}} {{request.user.last_name}}</h5>
                <h5 style="font-weight:bolder;">Tool Owner Username --> {{i.owner_name}}</h5></p>
            </div>
    {% endfor %}
  </div>
  {% endif %}
  <hr class="my-3 mb-3" style="width: 100vw;height:4px; color: rgb(255, 9, 9);">

{% if booking_data_byothers %}
     <div id="send_to">
      <h3 align ="center" style="border:2px solid rgb(0, 0, 0);background-color:#6c88cf;border-radius:25px;">Booking Done From Others</h3>
      {% for i  in booking_data_byothers %}
              <div class="alert alert-warning my-1 mb-2" style="background:#fde6da;border-radius: 20px;box-shadow:10px 10px 10px #f00b50" role="alert">
               <!-- <h4 class="alert-heading">Tool type</h4>  --> 
               <a style="font-weight:bolder;color: black;text-decoration: none;">
                <p >
                  Booking Id  -->    {{i.booking_id}} <br>
                  Requested From -->    {{i.required_from}}<br>
                  Requested Till -->    {{i.required_till}}<br>
                  Booking Time  -->    {{i.booking_time}} <br>
                  Booking Amount Paid -->    {{i.booking_amt_paid}}<br>
                  Tool Id -->    {{i.tool_id}}<br>
                </p>
                <p class="mb-0">
                  <h5 style="font-weight:bolder;">Tool Owner -->{{request.user.first_name}} {{request.user.last_name}}</h5>
                  <h5 style="font-weight:bolder;">Requested From Username --> {{i.owner_name}}</h5></p>
                <p class="mb-0"></p>
              </div>
      {% endfor %}
     </div>
     {% endif %}



{% endblock body %}
