{% extends 'base.html' %}
{% block title %}Home AgroRent {% endblock title %}
{% block body %}


<!-- --------------------------------------------Css Code Body Start From Here----------------------------- -->

<style>
#sign_up{
  visibility: hidden;
}
#otp{
  display: none;
}
#send_otp{
  visibility: visible;
}
#verify{
  visibility: hidden;
}

</style>


<!-- --------------------------------------------JavaScript Code Body Start From Here----------------------------- -->
<script type="text/javascript">
  var otp=000;
 //  <!-- ----------------scripts for Sending Otp And Checking It------------------- -->  
 $(document).ready(function() { 
    $(document).on('click','#send_otp', function (e) {
      document.getElementById("send_otp").disabled = true;
      document.getElementById("verify").disabled = true;
      e.preventDefault();
      var spinner = '<div class="spinner-border" role="status"><span class="visually-hidden">Loading... </span></div> Please wait..'
      $('#send_otp').html(spinner);
      $.ajax({
          type: 'POST',
          url: '/otp',
          data: {
              email: $('#email').val(),
              fname: $('#fname').val(),
              phone: $('#phone').val(),
              username: $('#username').val(),
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
          },
          success: function (data) {
              if(data !="-1" && data!="0" && data!="1"&& data!="2")
              {   
                    document.getElementById("otp").style.display="block";
                    swal('Otp Send.!!','<b>Otp Sended Succesfully..</b>','success');
                    otp = data;
                    document.getElementById("verify").disabled = false;
                    document.getElementById("verify").style.visibility="visible";
                    speek_data('Otp Sended Succesfully.');
                
                    // <!-------------------- Timer For The Enable back The Send Otp Button------------------------ -->
                    var Timer_btn = 120;
                    //<-------------------- Timer For Redirecting to home------->
                    function start_timer(){
                        my_interval = setInterval(function redirect(){
                            document.getElementById('send_otp').innerHTML = '<h6>Resent <b>otp</b> In.'+Timer_btn+'</h6>';
                            Timer_btn=Timer_btn-1;
                            //<-------------If redirect_time is equal Redirecting to home------->
                            if (Timer_btn == 0){
                                clearInterval(my_interval);
                                $('#send_otp').text("send Otp");
                                document.getElementById("send_otp").disabled = false;
                            }
                        },1000)
                  }
                  start_timer();
              
                  // <!--------------------End  Timer For The Enable back The Send Otp Button------------------------ -->
              }

              else if(data=="0"){
                sweetAlert("Error!!", "<b><b style='color:red';>Username Alredy Exist</b>..!</b>", "error");
              }
              else if(data=="1"){
                sweetAlert("Alert!!", "<b><b style='color:red';>Phone Alredy Exist</b>..!</b>", "warning");
              }
              else if (data=="2"){// indicate 2 for email exist in database
                sweetAlert("Error!!", "<b><b style='color:red';>Email Alredy Exist</b>..!</b>", "error");
              }
              else{// indicate -1 to show error when otp dendinf faild!!!! 
                alert("Something Went Wrong..Please Try Again Later");
              }
              if(data =="-1" || data =="0" ||  data =="1" ||  data =="2"){
                $('#send_otp').text("send Otp");
                document.getElementById("send_otp").disabled = false;
              }


              },
              error: function (response) {
                  alert('Something Went Wrong...');
              }      
        });
    });
  });


    // <!-- Function to check otp start here-->
    function checkOtp(){
     var user_otp = document.getElementById("otp").value;

      if (otp == user_otp){
        document.getElementById("sign_up").style.visibility="visible";
        swal('Verfied Succesfully!!!','<b>Email Verfied Succesfully.</b>','success');
      document.getElementById("send_otp").style.visibility="hidden";
      document.getElementById("verify").style.visibility="hidden";
      document.getElementById("otp").style.display="none";
      }
      else{
        sweetAlert("Invalid Otp!", "<b>User Please Enter <b style='color:red';>Valid Otp</b>..!</b>", "warning");
      }
    }

  // <!-- Function to check otp End here-->
//  <!-- ----------------scripts for Prevent Form From Reloading & Submittimg The Signup Form------------------- -->


$(document).on('submit', '#post-form', function (e) {
  document.getElementById("sign_up").disabled = true;
  var spinner = '<div class="spinner-border" role="status"><span class="visually-hidden">Loading... </span></div> Saving info..'
  $('#sign_up').html(spinner);
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '/sign_up',
        data: {
            fname:$('#fname').val(),
            lname:$('#lname').val(),
            email: $('#email').val(),
            phone: $('#phone').val(),
            username: $('#username').val(),
            password: $('#password').val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
          if(data=="3"){
              $('#sign_up').text("Sign Up");
              document.getElementById("sign_up").disabled = false;
              swal('Success!!','<b>Registerd Succesfully..</b>','success');
            speek_data('Sign-up Info Saved...');
            my_timeout = setTimeout(()=>{ clearTimeout(my_timeout);    window.location =  "/sign_in";},1480);
          }
          else if(data=="0"){
            sweetAlert("Error!!", "<b><b style='color:red';>Username Alredy Exist</b>..!</b>", "error");
            $('#sign_up').text("Sign Up");
            document.getElementById("sign_up").disabled = false;
          }
          else if(data=="1"){
            sweetAlert("Alert!!", "<b><b style='color:red';>Phone Alredy Exist</b>..!</b>", "warning");
              $('#sign_up').text("Sign Up");
              document.getElementById("sign_up").disabled = false;
          }
          else{// indicate 2 for email
            sweetAlert("Error!!", "<b><b style='color:red';>Email Alredy Exist</b>..!</b>", "error");
            $('#sign_up').text("Sign Up");
            document.getElementById("sign_up").disabled = false;
          }
        },
        error: function (response) {
            alert('Something Went Wrong...');
        }

    });
});

</script>





<!-- --------------------------------------------Html Code Body Start From Here----------------------------- -->
<div class="container">
    <!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="background-image: url('/static/home/sign_up.jpg');height: 300px;"></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">

      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Sign up now  <a id='head' href='/'><img id="home_logo" src="/static/home/home.jpg" alt="" width="45" height="40" class="d-inline-block align-text-top"></a></h2>
            <form id="post-form">
              {% csrf_token %}
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input placeholder="First Name" name="fname" required pattern="[^' ']+" type="text" id="fname" class="form-control" />
                    <label class="form-label" for="fname">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input placeholder="Last Name" name="lname" required pattern="[^' ']+"  type="text" id="lname" class="form-control" />
                    <label class="form-label" for="lname">Last name</label>
                  </div>
                </div>
              </div>
  
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input placeholder="Enter E-mail" name="email" required pattern="[^' ']+"  type="email" id="email" class="form-control" />
                <label class="form-label" for="email">Email address</label>
              </div>

              <!-- Phone No input -->
              <div class="form-outline mb-4">
                <input placeholder="Enter Phone" name="phone" required pattern="[^' ']+" minlength="10" type="number" id="phone" class="form-control" />
                <label class="form-label" for="phone">Phone No</label>
              </div>

               <!-- Username input -->
              <div class="form-outline mb-4">
                  <input maxlength="20" placeholder="abc0000" name="username" required pattern="[^' ']+" type="text" id="username" class="form-control" />
                  <label style="color: red;" class="form-label" for="fname">Set Username (Use Name+phone's First 3-4 digit To avoid Error)</label>
              </div>
  
              <!-- Password input -->
              <div  class="form-outline mb-4">
                <input placeholder="Set Password" name="password" required pattern="[^' ']+" type="password" id="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
              </div>


              <!------------------------------------------------- Otp Authentication Field Start Here -------------------------------------->
              <div  class="form-outline mb-4">
                <button type="button"  id="send_otp" class="btn btn-outline-dark">Send Otp</button>
                <button type="button" id="verify" class="btn btn-outline-success" onclick="checkOtp()">Verify</button>
              </div>
              
                <!-- Otp  No input -->
                <div class="form-outline mb-4">
                  <input placeholder="Enter 4 Digit Otp" name="otp" required pattern="[^' ']+" minlength="4" type="number" id="otp" class="form-control" />
                </div>

              <!------------------------------------------------- Otp Authentication Field End Here -------------------------------------->
              <!-- Submit button -->
              <button type="submit" id="sign_up" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
              <div>
                <p class="mb-0">Already Registered ? <a href="/sign_in" class="text-white-50 fw-bold"><b style="color: rgb(0, 206, 34);">Sign-in</b> </a>
                </p>
             </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>


{% endblock body %}